.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgba(255, 0, 0, 0.8); /* Red for "Lost Connection" */
  color: white;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  z-index: 1000;
  max-width: 300px;
}

.popupMessage {
  margin-right: 10px;
  font-size: 18px;
}

.closeButton {
  background: rgb(206, 206, 206);
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  color: rgb(53, 53, 53);
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  font-size: 18px;
}
